body {
  font-family: sans-serif;
}

.box {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: peru;
  color: white;
}
